<div>
    <h2>
        <span jhiTranslate="rptApp.photo.home.title">Photos</span>
        <button class="btn btn-primary float-right jh-create-entity create-photo" [routerLink]="['/', { outlets: { popup: ['photo-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rptApp.photo.home.createLabel">
            Create new Photo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="photos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rptApp.photo.singlePhoto">Single Photo</span></th>
            <th><span jhiTranslate="rptApp.photo.description">Description</span></th>
            <th><span jhiTranslate="rptApp.photo.photoDate">Photo Date</span></th>
            <th><span jhiTranslate="rptApp.photo.car">Car</span></th>
            <th><span jhiTranslate="rptApp.photo.repair">Repair</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let photo of photos ;trackBy: trackId">
                <td><a [routerLink]="['../photo', photo.id ]">{{photo.id}}</a></td>
                <td>
                    <a *ngIf="photo.singlePhoto" (click)="openFile(photo.singlePhotoContentType, photo.singlePhoto)">
                        <img [src]="'data:' + photo.singlePhotoContentType + ';base64,' + photo.singlePhoto" style="max-height: 30px;" alt="photo image"/>
                    </a>
                    <span *ngIf="photo.singlePhoto">{{photo.singlePhotoContentType}}, {{byteSize(photo.singlePhoto)}}</span>
                </td>
                <td>{{photo.description}}</td>
                <td>{{photo.photoDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="photo.carId">
                        <a [routerLink]="['../car', photo.carId  ]" >{{photo.carId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="photo.repairId">
                        <a [routerLink]="['../repair', photo.repairId  ]" >{{photo.repairId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../photo', photo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'photo/'+ photo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'photo/'+ photo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
