<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPhotoLabel" jhiTranslate="rptApp.photo.home.createOrEditLabel">Create or edit a Photo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!photo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="photo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.photo.singlePhoto" for="field_singlePhoto">Single Photo</label>
            <div>
                <img [src]="'data:' + photo.singlePhotoContentType + ';base64,' + photo.singlePhoto" style="max-height: 100px;" *ngIf="photo.singlePhoto" alt="photo image"/>
                <div *ngIf="photo.singlePhoto" class="form-text text-danger clearfix">
                    <span class="pull-left">{{photo.singlePhotoContentType}}, {{byteSize(photo.singlePhoto)}}</span>
                    <button type="button" (click)="clearInputImage('singlePhoto', 'singlePhotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_singlePhoto" (change)="setFileData($event, photo, 'singlePhoto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="singlePhoto" id="field_singlePhoto"
                [(ngModel)]="photo.singlePhoto" required/>
            <input type="hidden" class="form-control" name="singlePhotoContentType" id="field_singlePhotoContentType"
                [(ngModel)]="photo.singlePhotoContentType" />
            <div [hidden]="!(editForm.controls.singlePhoto?.dirty && editForm.controls.singlePhoto?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.singlePhoto?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.photo.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="photo.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.photo.photoDate" for="field_photoDate">Photo Date</label>
            <div class="input-group">
                <input id="field_photoDate" type="text" class="form-control" name="photoDate" ngbDatepicker  #photoDateDp="ngbDatepicker" [(ngModel)]="photo.photoDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="photoDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.photoDate?.dirty && editForm.controls.photoDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.photoDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.photo.repair" for="field_repair">Repair</label>
            <select class="form-control" id="field_repair" name="repair" [(ngModel)]="photo.repairId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="repairOption.id" *ngFor="let repairOption of repairs; trackBy: trackRepairById">{{repairOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
