
<div *ngIf="userExt">
    <h2><span jhiTranslate="rptApp.userExt.detail.title">User Ext</span> {{userExt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rptApp.userExt.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{userExt.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="rptApp.userExt.acountType">Acount Type</span></dt>
        <dd>
            <span jhiTranslate="{{'rptApp.AcountType.' + userExt.acountType}}">{{userExt.acountType}}</span>
        </dd>
        <dt><span jhiTranslate="rptApp.userExt.user">User</span></dt>
        <dd>
            {{userExt.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-ext/'+ userExt.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
