<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRestorationQueryLabel" jhiTranslate="rptApp.restorationQuery.home.createOrEditLabel">Create or edit a Restoration Query</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!restorationQuery.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="restorationQuery.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.restorationQuery.make" for="field_make">Make</label>
            <input type="text" class="form-control" name="make" id="field_make"
                [(ngModel)]="restorationQuery.make" required maxlength="20"/>
            <div [hidden]="!(editForm.controls.make?.dirty && editForm.controls.make?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.make?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.make?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.restorationQuery.model" for="field_model">Model</label>
            <input type="text" class="form-control" name="model" id="field_model"
                [(ngModel)]="restorationQuery.model" required maxlength="20"/>
            <div [hidden]="!(editForm.controls.model?.dirty && editForm.controls.model?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.model?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.model?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.restorationQuery.vin" for="field_vin">Vin</label>
            <input type="text" class="form-control" name="vin" id="field_vin"
                [(ngModel)]="restorationQuery.vin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.restorationQuery.productionDate" for="field_productionDate">Production Date</label>
            <div class="input-group">
                <input id="field_productionDate" type="text" class="form-control" name="productionDate" ngbDatepicker  #productionDateDp="ngbDatepicker" [(ngModel)]="restorationQuery.productionDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="productionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.productionDate?.dirty && editForm.controls.productionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.restorationQuery.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="restorationQuery.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rptApp.restorationQuery.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="restorationQuery.customerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userExtOption.id" *ngFor="let userExtOption of userexts; trackBy: trackUserExtById">{{userExtOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
